<div class="container">
  <div class="jumbotron">
    <h1>Positivity</h1>

    <% if user_signed_in? %>

        <p><%= link_to('Logout', destroy_user_session_path(@current_user), :method => :delete, class: "btn btn-primary btn-lg" ) %></p>
        <p><%= link_to('Take me to my Glows', users_path, class: "btn btn-primary btn-lg")%></p>
        <p><%= link_to('Take me to all Glows', glows_path, class: "btn btn-primary btn-lg") %></p>
      <% else %>
        <p><%= link_to('Sign Up Now', new_user_registration_path, class: "btn btn-primary btn-lg")%></p>
        <p><%= link_to('Sign In Now', new_user_session_path, class: "btn btn-primary btn-lg")%></p>

      <% end %>

  </div>
</div>
